
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

ul 
{
    list-style-type: none;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.leaflet-container{
  width: 100%;
  height: 60vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #ff8000;
}
p{
  text-decoration: none;
  font-weight: 700;
}
header {
  grid-area: header;
  height: 60px;
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 3px solid rgba(221, 226, 227, 0.2);
  
}
header a {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1rem #c0c0c0 solid;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 5%;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.product img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: .6s linear;
}
.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 26px;
}
.product-price div,

.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
.button {
  background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 75%;
  height: 40px;
  max-width: 250px;
  margin-top: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.06);
}


.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}

form {
  width: 100%;
  padding: 25px;

}

.form-container {
  width: 100%;
  padding: 0;

}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
 
}
input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;

}

.product-details {
  display: flex;
  flex-direction:column;
  align-items:center;
  
}
.product-details img {
  max-height:500px;
  height: auto;
  width:25%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: .6s linear;
}

.product-details-description {
  flex: 1 1;
  margin: 4rem;
  padding-top: 2rem;
}
.product-details-description p {
  font-weight: 100;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: #3bb78f;
  
}

.orders {
  width: 100%;
  padding: 10px;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 5px;
}
th {
  text-align: left;
}

.example-custom-input{
  background: linear-gradient(0deg, #019875, #029875);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}

.example-custom-input:hover{
  transform: scale(1.06);
}

.no-gutters {
  padding-left: 0;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 20px;
}

.app-container {
  margin: 5% auto;
  width: 100%;
  height: 430px;
  background: white;
  
}

.item-container .item-image img {
  height: 430px;
  width: 100%;
}

.item-image {
  position: absolute;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-name {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-price {
  font-size: 25px;
  font-weight: 700;
  color: #0b8a6d;
}


.checkout {
  height: 430px;
}

.checkout-container {
  padding: 35px 25px;
}

.input {
  width: 100%;
  padding: 5px 10px;
  color: #000;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
  
}

label{
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #78757c;
}

.input label {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  color: #78757c;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.checkout-btn {
  background: linear-gradient(0deg, #019875, #029875);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}

.title,
.title-sub,
.title-hidden {
  font-family:"Lato";
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  max-width:600px;
}

.title {
  font-family:"Roboto";
  font-size:2em;
  font-weight:500;
}

.title-sub {
  font-size:1em;
  color:rgba(0, 0, 0, 9);
}

.title-sub > strong {
  font-weight:500;
  font-family:"Quicksand";
}

.title-hidden {
  font-size:.85em;
  color:rgba(0, 0, 0, .65);
}

.hr:before,
.hr:after {
  content:'';
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:15vw;
  height:1px;
  background:black;
  position:relative;
  opacity:.2;
  margin-top:5px;
}

.hr {
  margin-top:20px;
  margin-bottom:20px;
}

#starfield {
  width:100%;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:35px;
}

#starfield > * {
  margin-left:5px;
  margin-right:5px;
}

.star {
  color:#cccccc;
  font-size:32px;
  transition:.3s;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  width:40px;
  height:40px;
}

.star:hover {
  transform:scale(1.085);
  color:yellow;
}

.star.active {
  color:orange;
  font-size:35px;
}

#commender {
  height:150px;
  width:600px;
  border-radius:2.5px;
  margin-top:40px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:95%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.commender_tit {
  margin-top:2.5px;
  margin-bottom:2.5px;
  text-align:center; 
}

.svg_icons{
  transform: scale(1.8);
}

.button-container{
  display: flex;
  flex-direction:row;
  align-items:center;
}




   
  

    
  
    
  





